:root {
  --batman-black: #0D0D0D;
  --batman-dark-gray: #1C1C1C;
  --batman-gray: #3A3A3A;
  --batman-yellow: #FEE715;
  --batman-blue: #0A1F44;
  --batman-white: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Preto	#0D0D0D	Fundo principal
Cinza-escuro	#1C1C1C	Containers, navbars
Cinza médio	#3A3A3A	Bordas, sombras
Amarelo	#FEE715	Destaques, botões
Azul escuro	#0A1F44	Detalhes, links
Branco	#F5F5F5	Texto secundário */

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: var(--batman-black);
    padding: 0;
    margin: 0;

}


header {
    height: 20vh;
    background-color: var(--batman-blue);
    color: var(--batman-yellow);
    text-shadow: 0 0 5px var(--batman-yellow);
    margin-top: 0;
    padding: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 a{
    color: yellow;
    text-decoration: none;
}

.navHeader ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 3em;
}

.navHeader ul li{
    width: 10em;
    border: 1px solid var(--batman-black);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navHeader ul li a{
    color: yellow;
    text-decoration: none;
}

.navHeader ul li:hover {    
    border: 1px solid var(--batman-black);
    background-color: color-mix(in srgb, var(--batman-blue) , var(--batman-white) 10%);
    
}

main {
    width: 80%;
    color: var(--batman-yellow);
    padding: 5em;
}

fieldset {
    border: 1px solid var(--batman-yellow);
    width: 100%;
    height: 50vh;
    padding: 5em;
    gap: 1em;

    display: flex;
    flex-direction: column;
}

.inputCadastro {
    background-color: transparent;
    border: 0.5px solid var(--batman-yellow);
    color: var(--batman-yellow);
    padding: 0.5em;
}
